.lightTheme {
    --background: rgb(240, 240, 240);
    --color: black;
    --tableBackground: rgb(240, 240, 240);
    --verticalLine: rgb(0, 0, 0);
    --border: black;
}

.darkTheme {
    --background: #0F0F0F;
    --color: white;
    --tableBackground: blueviolet;
    --verticalLine: blueviolet;
    --border: blueviolet;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    border: 2px solid red;
}

/* Navbar */
.navbar {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-bottom: 0.2rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 6rem;
    background-color: var(--background);
    /* width: 100vw; */
   width: 100%;
    border: 2px solid red;
    color: var(--color);
    font-size: 1.4rem;
    /* box-shadow: 20px 20px rgb(14, 203, 129) */
}

.navbar a {
    color: var(--color);
    font-size: 1.4rem;
    text-decoration: none;
}

.wishlist h1 {
    color: var(--color);
    text-decoration: none;
    font-size: 1.4rem;

}

.wishlist a {
    text-decoration: none;
}

/* Navbar */

/* header */
.header {
    width: 100vw;
    max-width: 100%;
    height: 65vh;
    background-image: url("https://img.freepik.com/free-vector/realistic-galaxy-background_52683-12122.jpg?size=626&ext=jpg&ga=GA1.1.1739213578.1688215321&semt=ais");
    background-size: 156rem;
    background-position: center;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
    ;
    border: 2px solid blue;

}

.slider {
    width: 80%;
    margin: 0 auto;

}

.slider h1 {
    text-align: center;
    margin: 2rem 0rem;
    color: rgb(240, 240, 240);
}

.card {
    text-align: center;
    color: rgb(240, 240, 240);
}

.image {
    margin: 0 auto;
    margin-bottom: 0.4rem;

}

.image p {
    margin-bottom: 1rem;
}

.image img {
    margin: 0 auto;
    margin-bottom: 1.8rem;
    height: 6.6rem;
}


/* header */
l

/* coins section */
.coinsSection {
    /* width: 100vw; */
    /* max-width: 100%; */
    text-align: center;
    color: var(--color);
    font-style: italic;
    border: 10px solid yellow;
    /* width: 100%; */
    /* new code */
    margin-inline: auto;
    width: min(900px, 100%-3rem);
    /* new code */
}

.coinsSection h1 {
    color: black;
    margin: 1rem 0rem;
    text-align: center;


}

/* new code */
.tableContainer {
    width: 100%;
    overflow-x: auto;
}

.tableContainer::-webkit-scrollbar {
    display: none;
}

/* new code */
.coinsSection table {
    color: var(--color);
    background: var(--background);
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border: 2px solid red;
    /* 
    new code
     */

}

/* for (change) color */
.red {
    color: red;
}

.green {
    color: rgb(14, 203, 129);
}

/* coins table */
.coinstable table th {
    background-color: blueviolet;
    padding: 1rem;
}

table {
    color: var(--color);
    background-color: var(--background);

    /* table-layout: fixed;  */
    /* add table layout fixed */
    /* overflow: scroll;  */
}

.img img {
    height: 5rem;
    margin: 0.5rem 0.5rem;
}

.coin {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

/* coins table */

/* Pagination */
.paginationCounterButton {
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--background);
    padding: 0.2rem 0.6rem;
    margin: 0rem 0.5rem;
}

.paginationCounter {
    /* margin: 1rem 0rem; */
    width: 80%;
    margin: 0 auto;
}

.next,
.prev {
    font-size: 2rem;
    cursor: pointer;
}

#paginationClicked {
    background-color: blueviolet;
}

.paginationCounter {
    width: 80%;
    text-align: center;
}

/* Pagination */

/* coins section */

/* single coin page */
/* coin info section  */
.coinInfo {
    width: 20vw;
    max-width: 100%;
    height: 85vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--background);
    color: var(--color);

}

/* .coinInfo .logo img{ */
/* width:150px; */
/* } */
.coinInfo {
    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* padding: 4rem; */
    font-size: 1.4rem;
    gap:4rem;
    /* padding:1rem 0rem */
}

.singleCoinPage {
    display: flex;
    align-items: center;
    border: 2px solid blue;
}

.coinInfo .info {
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
}

.verticalLine {
    background-color: var(--verticalLine);
    height: 85vh;
    width: 0.3rem;
}

/* coin info section */
/* chart section */
.chartSection {
    background-color: var(--background);
    color: var(--color);
    width: 80vw;
    height: 85vh
}

.chartSection .chart {
    margin: 0 auto;
    height: 85vh;
    /* width: 80%; */
    width: 80vw
}

.logo img {
    width: 15rem;

}

/* chart section */
/* single coin page */

/* search box */
.search {
    /* border:2px solid red; */
    width: 80%;
    margin: 0 auto;
    height: 3rem;
    margin-bottom: 2rem;
    border: 3px solid var(--border);
}

.search input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: var(--background);
    color: var(--color);

}

/* spinner */
.spinner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* spinner */

/* Wishlisht icon */
.wishlistIcon {
    /* margin-right:3px; */
    cursor: pointer;
}

.tooltip {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0.4rem;
    border-radius: 6px;
    font-size: 1.4rem;
}

.wishlistPage {
    text-align: center;
    color: var(--color);
    font-style: italic;
    width: 100vw;
    max-width: 100%;
    margin-top: 4rem;

}
.wishlistPage table{
    width:80vw;
    margin: 0 auto;
}

/* .wishlistPage table { */
    /* color: var(--color); */
    /* background: var(--background); */
    /* width: 80vw; */
    /* margin: 0 auto */
/* } */

.wishlistPage {
    background-color: var(--background);
}

.wishlistPage h1 {
    color: var(--color);
    margin: 1rem 0rem;
}
.removeButton{
    border: none;
    background-color:blueViolet;
    border-radius: 12px;
    padding: 0.5rem 0.9rem;
    cursor: pointer;
    background:blueViolet;
}
.wishlist{
    position: relative;
    /* margin-right: 6px; */
}
.count{
    font-size: smaller;
    background: blueviolet;
    border-radius: 50%;
    padding:0.3rem 0.7rem;
    position: absolute;
    bottom:13px;
    left: 43px;
    /* padding:0.4rem 0.5rem; */
}

/* wishlisht icon */
@media (max-width:856px) {
    .singleCoinPage {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .verticalLine {
        /* display: none; */
        width: 100vw;
        background-color: var(--verticalLine);
        height: 2px
    }

    .coinInfo {
        box-sizing: border-box;
        width: 100vw;
        max-width: 100%;
        padding: 2rem;
        height: 55vh;
    }
  .coinInfo.info{
    display: flex;
flex-direction: column;
gap: 2rem;
  }
    .chartSection {
        width: 100vw;
        max-width: 100%;
        height: 42vh;
        margin:auto auto;
    }
    .navbar{
        padding:0rem
    }
}