.lightTheme{
    --background:rgb(240,240,240);
    --color:black;
    background:url()"https://img.freepik.com/free-vector/realistic-galaxy-background_52683-12122.jpg?size=626&ext=jpg&ga=GA1.1.1739213578.1688215321&semt=ais";
    --tableBackground:rgb(240,240,240);
    --verticalLine:rgb(0,0,0)
}
.darkTheme{
    --background:#0F0F0F;
    --color:white;
    --tableBackground:blueviolet;
    --verticalLine:blueviolet
}
*{
    margin:0;
    padding:0;
}
:root{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
/* Navbar */
.navbar{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-bottom: 2px;
    height:8rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 6rem;
    background-color: var(--background);
    color:var(--color);
    /* box-shadow: 20px 20px rgb(14, 203, 129) */
}
/* Navbar */

/* header */
.header{
    height:65vh;
    /* background-image: url("https://img.freepik.com/free-photo/low-angle-shot-mesmerizing-starry-sky_181624-27925.jpg?size=626&ext=jpg&ga=GA1.1.1739213578.1688215321&semt=ais"); */
   background-image: url("https://img.freepik.com/free-vector/realistic-galaxy-background_52683-12122.jpg?size=626&ext=jpg&ga=GA1.1.1739213578.1688215321&semt=ais");
    background-size: cover;
    /* background-position: center; */
    display: flex;
    align-items: center;
    justify-content: space-around;
 box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;;

}
.slider{
    width:80%;
    
}
.slider h1{

    text-align: center;
    margin: 20px 0px;
    color:rgb(240,240,240);
}
.card{
    text-align: center;
    color:rgb(240,240,240);
}
.image{
    margin:0 auto;
    margin-bottom:4px;

}
.image p{
    margin-bottom: 10px;
}
.image img{
    margin: 0 auto;
   margin-bottom:18px;
   height:66px;
}


/* header */

/* coins section */
.coinsSection{
    text-align: center;
    color: var(--color);
    font-style: italic;
    width: 100vw;
}
.coinsSection h1{
    color: var(--color);
    margin:10px 0px
}
.coinsSection table{
    color: var(--color);
    background: var(--background);
    width:90vw;
    margin:0 auto
}
/* for (change) color */
.red{
    color:red;
}
.green{
    color:rgb(14, 203, 129);
}
/* coins table */
 .coinstable table th{
   background-color: blueviolet; 
   padding:10px;
 }
 table{
    color: var(--color);
    background-color: var(--background);
 }
 .img img{
    height:50px;
    margin:5px 5px;
 }
 .coin{
    display: flex;
    align-items: center;
    gap:8px;
 }
/* coins table */

/* Pagination */
.paginationCounterButton{
    cursor:pointer;
    border-radius: 50%;
    background-color: blueviolet;
    padding:2px 6px;
    margin:0px 5px;
}
.paginationCounter{
    margin:10px 0px;
}
.next,.prev{
    font-size: 20px;
    cursor:pointer;
}
/* Pagination */

/* coins section */

/* single coin page */
/* coin info section  */
.coinInfo {
    height:85vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:20px;
    background-color: var(--background);
    color: var(--color);
}
.coinInfo .logo img{
    /* width:150px; */
}
.coinInfo .info{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.verticalLine{
    background-color: var( --verticalLine);
    height:85vh;
    width:3px;
}
/* coin info section */
/* chart section */
.chartSection{
    background-color: var(--background);
    color:var(--color)

}
.chartSection .chart{

    /* margin:0 auto; */
    width:80vw;
    /* height:300px; */
    height:80vh;

}
/* chart section */
/* single coin page */


